## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Victor Harbor,-35.5667,138.6167,59.94,93,0,4.63,AU,2022-04-07 14:25:59
1,1,Las Varas,21.1667,-105.1667,62.08,68,27,2.17,MX,2022-04-07 14:25:59
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
4,4,Vardo,70.3705,31.1107,33.78,93,75,20.71,NO,2022-04-07 14:26:00

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minumum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minumum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
6,6,Atuona,-9.8000,-139.0333,78.55,78,14,16.26,PF,2022-04-07 14:26:00
8,8,Butaritari,3.0707,172.7902,80.85,81,99,16.26,KI,2022-04-07 14:26:01
12,12,Hithadhoo,-0.6000,73.0833,83.05,62,7,2.26,MV,2022-04-07 14:26:02
15,15,Rikitea,-23.1203,-134.9692,78.69,66,3,14.52,PF,2022-04-07 14:22:04
18,18,Canutama,-6.5339,-64.3831,82.76,76,100,3.18,BR,2022-04-07 14:26:03
32,32,Kavaratti,10.5669,72.6420,83.80,72,97,9.01,IN,2022-04-07 14:25:52
46,46,Vaini,-21.2000,-175.2000,77.16,100,75,3.44,TO,2022-04-07 14:27:11
52,52,Calafell,41.2000,1.5683,78.08,67,7,10.00,ES,2022-04-07 14:27:13

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       6
Date          0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_2_df = preferred_cities_df.dropna()
preferred_cities_2_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
6,6,Atuona,-9.8000,-139.0333,78.55,78,14,16.26,PF,2022-04-07 14:26:00
8,8,Butaritari,3.0707,172.7902,80.85,81,99,16.26,KI,2022-04-07 14:26:01
12,12,Hithadhoo,-0.6000,73.0833,83.05,62,7,2.26,MV,2022-04-07 14:26:02
...,...,...,...,...,...,...,...,...,...,...
689,689,Nosy Varika,-20.5833,48.5333,78.67,83,11,4.76,MG,2022-04-07 14:43:12
692,692,Ghanzi,-21.5667,21.7833,86.34,22,29,6.69,BW,2022-04-07 14:43:13
693,693,Mafinga,-7.2500,35.0667,80.69,52,32,4.16,TZ,2022-04-07 14:43:13
696,696,Kirakira,-10.4544,161.9205,80.58,83,100,7.78,SB,2022-04-07 14:44:14
698,698,Sao Jose Da Coroa Grande,-8.8978,-35.1478,83.30,69,52,8.10,BR,2022-04-07 14:44:15

In [7]:
preferred_cities_2_df.count()

City_ID       209
City          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
Country       209
Date          209
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_2_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

KeyError: "['Current Description'] not in index"

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure